<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectwestay">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectWeStay"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".adapter.NotifikasiPenyewaActivity"
            android:exported="false" />
        <activity
            android:name=".AccountDetailPenyewaActivity"
            android:exported="false" />
        <activity
            android:name=".AccountDetailPenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".KonfirmasiPenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".DetailHomestayPenyewaActivity"
            android:exported="false" />
        <activity
            android:name=".DetailHomestayPenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".PilihSignInActivity"
            android:exported="false" />
        <activity
            android:name=".HomePenyewaActivity"
            android:exported="false" />
        <activity
            android:name=".HomePenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".FormPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterPenyewaActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterPenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AddRumahActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>